/* This is a CSS file that defines a style class called example */
.example {
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight:bold;
  margin:10px 0 0 0;
  color:#4E4E4E;
}

